body {
    background-color: lightgreen;
    padding: 25px;
    color: black;
    font-size: 25px;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

  
  .dark-mode {
    background-color: black;
    color: white;
  }